server:
  port: 8091

spring:
  application:
    name: coupon-api

  profiles:
    default: test

  rabbitmq:
    host: 133.186.241.167
    port: 5672
    username: admin
    password: nhnacademy123!
    listener:
      simple:
        acknowledge-mode: auto
        retry:
          enabled: true
          initial-interval: 2s
          max-interval: 6s
          max-attempts: 2
          multiplier: 3

    coupon:
      exchange: aa.coupon.exchange
      queue: aa.coupon.queue
      routing-key: aa.coupon.key

      dlx:
        exchange: aa.coupon.dlx.exchange
        queue: aa.coupon.dlx.queue
        routing-key: aa.coupon.dlx.key

springdoc:
  api-docs:
    path: /api-docs
    groups:
      enabled: true
  swagger-ui:
    path: /swagger
    enabled: true
    groups-order: ASC
    tags-sorter: alpha
    operations-sorter: alpha
    display-request-duration: true
    doc-expansion: none
  cache:
    disabled: true
  model-and-view-allowed: true

logncrash:
  config:
    file-path: logs
    file-name: coupon-log
  app-key: Xyx7DoyszcG66ULx
  url: https://api-logncrash.cloud.toast.com
  version: 1.0.0
  host: aa-coupon-api
  platform: aa-coupon-api
  log:
    version: v2
    source: aa
    type: aa
