<configuration>
    <appender name="logNCrashHttp" class="store.buzzbook.coupon.common.appender.LogNCrashAppender">
    </appender>

    <appender name="LNCS-APPENDER" class="ch.qos.logback.classic.AsyncAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <includeCallerData value="false"/>
        <queueSize value="2048"/>
        <neverBlock value="true"/>
        <maxFlushTime value="60000"/>
        <appender-ref ref="logNCrashHttp"/>
    </appender>

    <logger name="store.buzzbook.coupon" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="LNCS-APPENDER"/>
    </logger>
</configuration>
